@media (prefers-color-scheme: dark) {
	body {
	  background-color: rgb(27, 25, 25);
	  color: white;
	}
      }

#main {
	width: auto;
	height: auto;
	border: 2px solid;
	border-color: aqua;
}

#title {
	font-size: 30px;
	width: auto;
	height: 60px;
}

#end {
	position: fixed;
	bottom: 0;
	right: 0;
}

div :link {
	color:white;
}