@media (prefers-color-scheme: dark) {
	body {
	  background-color: black;
	  color: white;
	}
      }

#main {
	width: auto;
	height: auto;
	border: 2px solid;
	border-color: aqua;
}

#title {
	font-size: 30px;
	width: auto;
	height: 60px;
}